html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts */
@font-face {
    font-family: 'montserrat_regular';
    src: url(../fonts/montserrat-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat_medium';
    src: url(../fonts/montserrat-medium-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat_extrabold';
    src: url(../fonts/montserrat-extrabold-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_semibold';
    src: url(../fonts/montserrat-semibold-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* My Style */
:root {
    --color1 : #040a1e;
    --color2 : #417578;
    --color3 : #35A29F;
    --color4 : #eefffd;
}

body {
    background-color: var(--color1);
}

/* Container */
.container {
    margin: 0 3.5%;
    position: relative;
}

/* Header */
.header {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    left: 0;
    padding: 2em 3.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(3px);
    border-bottom: 1px solid rgba(65, 117, 120, 0.3);
}

.header .title {
    font-family: 'montserrat_semibold';
    color: var(--color3);
    font-size: 1.3rem;
}

.header nav a{
    font-family: 'montserrat_medium';
    color: var(--color4);
    text-decoration: none;
    font-size: 1rem;
}

#hamburger-menu {
    display: none;
}

.header nav a:nth-child(1),
.header nav a:nth-child(2),
.header nav a:nth-child(3) {
    margin-right: 4em;
}

/* Beranda */
.beranda {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.beranda .content {
    padding: 5em 0;
    margin-top: 10em;
}

.beranda h3,
.beranda h2,
.beranda h1 {
    font-family: 'montserrat_semibold';
}

.beranda .content h3 {
    color: var(--color3);
    font-size: 1rem;
    padding: 1em 0;
}

.beranda .content h1 {
    color: var(--color4);
    font-size: 2.3rem;
}

.beranda .content h2 {
    font-family: 'montserrat_medium';
    color: var(--color2);
    padding: 1em 0;
}

.beranda .content h2 span {
    color: var(--color4);
}

.beranda .content p {
    font-family: 'montserrat_medium';
    color: var(--color4);
    padding: 0 0 2em;
}

.beranda .content a {
    font-family: 'montserrat_medium';
    color: var(--color4);
    text-decoration: none;
    margin: 0 0 2em;
    display: inline-block;
    background-color: var(--color3);
    padding: 0.8em 1.3em;
    border-radius: 50px;
}

.beranda .variation {
    width: 300px;
    height: 300px;
    background-color: var(--color3);
    position: relative;
    z-index: -5;
    margin: 120px auto 0;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 50%;
}

.beranda .content-img {
    width: 400px;
    height: 500px;
    justify-content: center;
    background-image: url(../img/me.png);
    background-size: cover;
    background-position: center;
    margin-right: 13%;
    margin-top: 15%;
}

/* Tentang Saya */
.about {
    padding: 5em 0;
}

.about-title {
    font-family: 'montserrat_semibold';
    color: var(--color3);
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5em;
}

.about h1 {
    font-family: 'montserrat_semibold';
    font-size: 2rem;
    padding-bottom: 1em;
}

.about p {
    font-family: 'montserrat_regular';
    line-height: 1.3em;
    color: var(--color2);
}

.about .side-bar1 {
    color: var(--color4);
    width: 50%;
    padding-right: 4%;
}

.about .side-bar2 {
    color: var(--color4);
    width: 50%;
}

/* Portfolio */
.portfolio {
    color: var(--color4);
    background-color: #0c1842;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(2, 5, 14, .7), -5px -5px 5px rgba(2, 5, 14, .7);
    padding: 2.3em 0;
}

.portfolio h3 {
    font-family: 'montserrat_semibold';
    color: var(--color3);
    padding-bottom: 0.5em;
    font-size: 1.4rem;
    text-align: center;
}

.portfolio h1 {
    font-family: 'montserrat_semibold';
    color: var(--color4);
    font-size: 2.5rem;
    padding: 0 0 0.3em;
    text-align: center;
}

.portfolio .text-content {
    font-family: 'montserrat_regular';
    color: var(--color2);
    text-align: center;
    width: 45%;
    margin: auto;
    line-height: 1.3em;
    padding-bottom: 2em;
}

.portfolio .portfolio-card {
    background-color: rgba(4, 10, 30, 0.6);
    margin: 0 1%;
    border-radius: 5px;
    padding: 2em 7%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio .card {
    width: 45%;
    object-fit: cover;
}

.portfolio .card img {
    object-fit: cover;
    width: 500px;
    height: 300px;
}

.portfolio .card .img {
    height: 17em;
    overflow: hidden;
    border-radius: 5px;
}

.portfolio .card h2 {
    font-family: 'montserrat_semibold';
    font-size: 1.5rem;
    padding: 0.7em 0;
}

.portfolio .card p {
    font-family: 'montserrat_regular';
    color: var(--color2);
    line-height: 1.3em;
    margin-bottom: 2em;
}

/* Contact */
.contact {
    color: var(--color4);
    padding: 15em 0;
}

.contact h3 {
    font-family: 'montserrat_semibold';
    color: var(--color3);
    padding-bottom: 0.5em;
    font-size: 1.4rem;
    text-align: center;
}

.contact h1 {
    font-family: 'montserrat_semibold';
    color: var(--color4);
    font-size: 2.5rem;
    padding: 0 0 0.3em;
    text-align: center;
}

.contact .links {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 2em auto 0;
}

.contact img {
    border-radius: 50%;
    cursor: pointer;
    filter:saturate(0);
    transition: 300ms;
    width: 60px;
    height: 60px;
}

.contact img:hover {
    filter: saturate(1);
}

/* Footer */
.footer {
    padding: 0 0 3em;
}

.footer a {
    display: block;
}

.footer .side-bar1,
.footer .side-bar2,
.footer .side-bar3 {
    padding: 0 14% 0 0;
}

.footer .side-bar1 h1 {
    font-family: 'montserrat_semibold';
    font-size: 2rem;
    color: var(--color4);
}

.footer .side-bar1 h2 {
    font-family: 'montserrat_semibold';
    font-size: 1.3rem;
    color: var(--color2);
    padding: 1rem 0;
}
.footer .side-bar1 p {
    font-family: 'montserrat_regular';
    color: var(--color2);
    line-height: 1.3em;
}

.footer .side-bar2 h2 {
    font-family: 'montserrat_semibold';
    font-size: 1.3rem;
    color: var(--color4);
    margin-bottom: 1em;
}

.footer .side-bar2 a {
    font-family: 'montserrat_medium';
    color: var(--color2);
    text-decoration: none;
    font-size: 1rem;
    margin: 0 0 1em 0;
}

.footer .side-bar3 h2 {
    font-family: 'montserrat_semibold';
    font-size: 1.3rem;
    color: var(--color4);
    margin-bottom: 1em;
}

.footer .side-bar3 a {
    font-family: 'montserrat_medium';
    color: var(--color2);
    text-decoration: none;
    font-size: 1rem;
    margin: 0 0 1em 0;
}

/* Copyright */
.copyright {
    text-align: center;
    padding: 0 0 2em;
}

.copyright .links {
    width: 20%;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    margin: 1.7em auto;
}

.copyright img {
    border-radius: 50%;
    cursor: pointer;
    filter:saturate(0);
    transition: 300ms;
    width: 35px;
    height: 35px;
}

.copyright img:hover {
    filter: saturate(1);
}

.copyright p {
    font-family: 'montserrat_regular';
    color: var(--color4);
}

.copyright a {
    font-family: 'montserrat_medium';
    color: var(--color3);
}


/* Media Queries */


/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 90%;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 78.5%;
    }

    .header #hamburger-menu {
        display: inline-block;
    }

    .header nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgba(53, 162, 159, 0.7);
        width: 20em;
        transition: 0.3s;
        margin-top: 30px;
        border-radius: 5px;
    }

    .header nav.active {
        right: 0;
    }

    .header nav {
        text-align: center;
    }

    .header nav a {
        display: block;
        font-size: 1.2rem;
        margin: 20px auto;
    }

    .header nav a:nth-child(1),
    .header nav a:nth-child(2),
    .header nav a:nth-child(3) {
        margin-right: 0;
        padding: 0;
    }

    .beranda {
        flex-wrap: wrap;
    }

    .beranda .content {
        margin: 200px 0;
        border: 2px;
    }

    .beranda .content-img {
        margin: 0;
        padding: 0;
        margin: -200px auto 0;
    }

    .about-title {
        margin-top: 480gitpx;
    }

    .about .side-bar1,
    .about .side-bar2 {
        width: 100%;
    }

    .portfolio .text-content {
        width: 100%;
    }

    .portfolio-card .card  {
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .portfolio-card .card .img {
        height: 300px;
        margin: 0;
        padding: 0;
    }

    .portfolio-card .card p {
        margin-bottom: 50px;
    }

    .about {
        text-align: center;
        width: 100%;
    }

    .about .side-bar1 {
        padding: 0;
        margin: auto;
    }

    .about .side-bar2 {
        margin: auto;
        margin-top: 50px;
    }

    .contact .links {
        margin: auto;
        width: 80%;
    }

    .copyright .links {
        margin: 30px auto;
        width: 50%;
    }

    .footer .side-bar1,
    .footer .side-bar2,
    .footer .side-bar3 {
        margin: 30px 0;
    }

}

@media (max-width: 450px) {
    .portfolio-card .card .img {
        height: 200px;
        object-fit: cover;
        background-position: center;
        background-size: cover;
    }
}

@media (min-width: 768px) {

    .portfolio-card {
        display: flex;
    }

    .about {
        display: flex;
    }

    .footer {
        display: flex;
    }
}