html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts */
@font-face {
    font-family: 'montserrat_regular';
    src: url(../fonts/montserrat-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat_medium';
    src: url(../fonts/montserrat-medium-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat_extrabold';
    src: url(../fonts/montserrat-extrabold-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_semibold';
    src: url(../fonts/montserrat-semibold-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* My Style */
.animate__delay1 {
    animation-delay: 1.5s;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color1 : #ffffff;
    --color2 : #0a0a0a;
    --color3 : #1EB872;
}

body {
    background-color: var(--color1);
}

/* Container */
.container {
    margin: 0 3.5%;
    position: relative;
    overflow: hidden;
}

/* Header */
.header {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    left: 0;
    padding: 2em 3.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(3px);
    border-bottom: 1px solid rgba(65, 117, 120, 0.3);
}

.header nav {
    margin-left: 25%;
}

.header .title {
    font-family: 'montserrat_semibold';
    color: var(--color3);
    font-size: 1.6rem;
}

.header nav a {
    font-family: 'montserrat_medium';
    color: var(--color4);
    text-decoration: none;
    font-size: 1rem;
    transition: 300ms;
}

.header .btn-darkmode {
    width: 60px;
    height: 30px;
    background-color: var(--color3);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 7px;
}

.header .btn-darkmode .theme {
    transition: 300ms;
}

.header .btn-darkmode .dark {
    transition: 300ms;
}

.header .btn-darkmode .theme:hover {
    transform: scale(0.9);
}

.header .btn-darkmode .theme:active {
    transform: scale(0.9);
}

.header .btn-darkmode .dark:hover {
    transform: scale(0.9);
}

.header .btn-darkmode .dark:active {
    transform: scale(0.9);
}

#darkmode {
    background-color: #101010;
    color: #f4f4f4;
}

.header img {
    cursor: pointer;
}

.header nav a:hover{
    color: var(--color3);
}

#hamburger-menu {
    display: none;
}

.header nav a:nth-child(1),
.header nav a:nth-child(2),
.header nav a:nth-child(3),
.header nav a:nth-child(4) {
    margin-right: 4em;
}

/* Beranda */
.beranda {
    height: 680px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 300ms;
}

.beranda .content {
    padding: 5em 0;
    margin-top: 10em;
}

.beranda h3,
.beranda h2,
.beranda h1 {
    font-family: 'montserrat_semibold';
}

.beranda .content h3 {
    color: var(--color3);
    font-size: 1.2rem;
    padding: 1em 0;
}

.beranda .content h1 {
    font-size: 3rem;
}

.beranda .content h2 {
    font-family: 'montserrat_medium';
    padding: 1em 0 0;
    font-size: 1.4rem;
}

.beranda .line {
    width: 35%;
    background-color: var(--color3);
    height: 2.5px;
    margin: 1.2em 0;
    border-radius: 10px;
}

.beranda .content p {
    font-family: 'montserrat_medium';
    padding: 0 0 2em;
    font-style: italic;
}

.beranda .content .btn1 {
    font-family: 'montserrat_semibold';
    color: var(--color3);
    text-decoration: none;
    margin: 0 0 2em;
    display: inline-block;
    padding: 1.2em 1.8em;
    border-radius: 50px;
    transition: 300ms;
    font-size: 0.8rem;
    border: 3px solid var(--color3);
    margin-left: 2%;
    box-sizing: border-box;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.065);
}

.beranda .content .btn1:hover {
    color: var(--color2);
}


.beranda .content .btn2 {
    font-family: 'montserrat_semibold';
    color: var(--color1);
    text-decoration: none;
    margin: 0 0 2em;
    display: inline-block;
    background-color: var(--color3);
    padding: 1.5em 1.8em;
    border-radius: 50px;
    transition: 300ms;
    font-size: 0.8rem;
    box-sizing: border-box;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.065);
}

.beranda .content .btn2:hover {
    background-color: #137b4c;
}

.beranda .cta {
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.beranda .variation {
    width: 300px;
    height: 300px;
    background: linear-gradient(var(--color3) 60%, var(--color2));
    position: relative;
    z-index: -9999;
    margin: 120px auto 0;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 50%;
    box-shadow: 
        5px -5px 5px rgba(0,0,0,0.160),
        10px -10px 10px rgba(0,0,0,0.140),
        20px -20px 20px rgba(0,0,0,0.100)
    
    ;
}

.beranda .content-img {
    width: 400px;
    height: 500px;
    justify-content: center;
    background-image: url(../img/me.png);
    background-size: cover;
    background-position: center;
    margin-right: 13%;
    margin-top: 15%;
}

/* Tentang Saya */
.about {
    padding: 3em 0 5em;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: 300ms;
}

.about-title {
    font-family: 'montserrat_semibold';
    text-align: center;
    font-size: 1.5rem;
    padding-top: 5em;
    transition: 300ms;
}

.about h1 {
    font-family: 'montserrat_semibold';
    font-size: 2rem;
    padding-bottom: 1em;
    line-height: 1.3em;
    color: var(--color3);
}

.about p {
    font-family: 'montserrat_regular';
    line-height: 1.4em;
    text-align: justify;
}

.about .side-bar1 {
    width: 50%;
    box-sizing: border-box;
    padding-right: 4%;
}

.about .side-bar2 {
    width: 50%;
    box-sizing: border-box;
}

.about .side-bar3 {
    width: 50%;
    margin-top: 2em;
    text-align: center;
}

.about .side-bar2 .links {
    margin: 2em 0 0.6em;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.about .side-bar2 .links img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 300ms;
}

.about .side-bar2 .links img:hover {
    transform: scale(1.1);
}

.about .side-bar3 {
    width: 80%;
    margin: 5em auto 0;
}

.about .side-bar3 .skill {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.about .side-bar3 .image {
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: 0 auto 1em;
}

.about .side-bar3 .image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.about .side-bar3 .card {
    width: 26%;
    margin: 0 auto 3em;
}

.about .side-bar3 .card h1 {
    font-size: 1.4rem;
    padding: 0;
    margin: 0.5em 0;
}

/* Portfolio */
.portfolio {
    padding: 2.3em 0 0;
    transition: 300ms;
}

.portfolio h3 {
    font-family: 'montserrat_semibold';
    color: var(--color3);
    padding-bottom: 0.5em;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 3.5em;
}

.portfolio h1 {
    font-family: 'montserrat_semibold';
    font-size: 2.5rem;
    padding: 0 0 0.3em;
    text-align: center;
}

.portfolio .text-content {
    font-family: 'montserrat_regular';
    text-align: center;
    width: 45%;
    margin: auto;
    line-height: 1.3em;
    padding-bottom: 2em;
    margin-bottom: 3.5em;
}

.portfolio .portfolio-card {
    margin: 0 1%;
    padding: 0 7%;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.portfolio .card {
    width: 45%;
    margin-bottom: 70px;
}

.portfolio-card .card a {
    font-family: 'montserrat_regular';
    color: var(--color4);
    text-decoration: none;
    background-color: var(--color3);
    padding: 1em 1.6em;
    border-radius: 15px;
    transition: 300ms;
}

.portfolio-card .card a:hover {
    background-color: #137b4c;
}

.portfolio .card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid #403b3b;
    box-sizing: border-box;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.065);
}


.portfolio .card h2 {
    font-family: 'montserrat_semibold';
    font-size: 1.5rem;
    padding: 1em 0;
}

.portfolio .card p {
    font-family: 'montserrat_regular';
    line-height: 1.3em;
    margin-bottom: 2em;
    text-align: justify;
}

/* Certificate */
.certificate {
    padding: 2.3em 0 0;
    margin-top: 50px;
    transition: 300ms;
}

.certificate h3 {
    font-family: 'montserrat_semibold';
    color: var(--color3);
    padding-bottom: 0.5em;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 3.5em;
}

.certificate h1 {
    font-family: 'montserrat_semibold';
    font-size: 2.5rem;
    padding: 0 0 0.3em;
    text-align: center;
}

.certificate .text-content {
    font-family: 'montserrat_regular';
    text-align: center;
    width: 45%;
    margin: auto;
    line-height: 1.3em;
    padding-bottom: 2em;
    margin-bottom: 3.5em;
}

.certificate .certificate-card {
    margin: 0 1%;
    padding: 0 7%;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.certificate .card {
    width: 45%;
}

.certificate .card a {
    font-family: 'montserrat_regular';
    color: var(--color4);
    text-decoration: none;
    background-color: var(--color3);
    padding: 1em 1.6em;
    border-radius: 15px;
    transition: 300ms;
}

.certificate .card a:hover {
    background-color: #137b4c;
}

.certificate .card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid #403b3b;
    box-sizing: border-box;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.065);
}

.certificate .card h2 {
    font-family: 'montserrat_semibold';
    font-size: 1.5rem;
    padding: 1em 0;
}

.certificate .card p {
    font-family: 'montserrat_regular';
    line-height: 1.3em;
    margin-bottom: 2em;
    text-align: justify;
}

/* Contact */
.contact {
    padding: 15em 0;
    transition: 300ms;
}

.contact h3 {
    font-family: 'montserrat_semibold';
    color: var(--color3);
    padding-bottom: 0.5em;
    font-size: 1.4rem;
    text-align: center;
}

.contact h1 {
    font-family: 'montserrat_semibold';
    font-size: 2.5rem;
    padding: 0 0 0.3em;
    text-align: center;
}

.contact .links {
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin: 2em auto 0;
}

.contact img {
    border-radius: 50%;
    cursor: pointer;
    transition: 300ms;
    width: 50px;
    height: 50px;
}

.contact img:hover {
    transform: scale(1.1);
}

/* Footer */
.footer {
    padding: 0 0 3em;
    transition: 300ms;
    background-color: var(--color4);
}

.footer a {
    display: block;
    color: var(--color4);
}

.footer .side-bar1,
.footer .side-bar2,
.footer .side-bar3 {
    padding: 0 14% 0 0;
}

.footer .side-bar1 h1 {
    font-family: 'montserrat_semibold';
    font-size: 2rem;
}

.footer .side-bar1 h2 {
    font-family: 'montserrat_semibold';
    font-size: 1.3rem;
    padding: 1rem 0;
}
.footer .side-bar1 p {
    font-family: 'montserrat_regular';
    line-height: 1.3em;
}

.footer .side-bar2 h2 {
    font-family: 'montserrat_semibold';
    font-size: 1.3rem;
    margin-bottom: 1em;
}

.footer .side-bar2 a {
    font-family: 'montserrat_medium';
    text-decoration: none;
    font-size: 1rem;
    margin: 0 0 1em 0;
    transition: 300ms;
}

.footer .side-bar2 a:hover {
    color: var(--color3);
}

.footer .side-bar3 h2 {
    font-family: 'montserrat_semibold';
    font-size: 1.3rem;
    margin-bottom: 1em;
}

.footer .side-bar3 a {
    font-family: 'montserrat_medium';
    text-decoration: none;
    font-size: 1rem;
    margin: 0 0 1em 0;
    transition: 300ms;
}

.footer .side-bar3 a:hover {
    color: var(--color3);
}

/* Copyright */
.copyright {
    text-align: center;
    transition: 300ms;
}

.copyright p {
    font-family: 'montserrat_regular';
    margin-top: 30px;
    margin-bottom: 30px;
}

.copyright a {
    font-family: 'montserrat_medium';
    color: var(--color3);
}


/* Media Queries */

/* Desktop */
@media (max-width: 1400px) {
    html {
        font-size: 115%;
    }
}

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 88%;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 83%;
    }

    .header #hamburger-menu {
        display: inline-block;
    }

    .header nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgba(30, 184, 114, 0.7);
        width: 20em;
        transition: 0.3s;
        margin-top: 30px;
        border-radius: 5px;
    }

    .header nav.active {
        right: 0;
    }

    .header nav {
        text-align: center;
        margin: 0;
    }

    .header nav a {
        display: block;
        font-size: 1.2rem;
        margin: 20px auto;
    }

    .header nav a:nth-child(1),
    .header nav a:nth-child(2),
    .header nav a:nth-child(3),
    .header nav a:nth-child(4) {
        margin-right: 0;
        padding: 0;
    }

    .header .btn-darkmode {
        position: relative;
        left: 12%;
    }

    .beranda {
        flex-wrap: wrap;
    }

    .beranda .content {
        margin: 200px 0;
    }

    .beranda .content a {
        padding: 1.5em 1.7em;
    }

    .beranda .variation {
        width: 250px;
        height: 250px;
    }

    .beranda .content-img {
        margin: 0;
        padding: 0;
        margin: -200px auto 0;
        width: 300px;
        height: 400px;
    }

    .beranda .cta {
        width: 75%;
    }

    .about-title {
        margin-top: 280px;
    }

    .about .side-bar2 .links{
        width: 65%;
        margin: 50px auto 0;
    }

    .about .side-bar1,
    .about .side-bar2 {
        width: 100%;
    }

    .about {
        text-align: center;
    }

    .about .side-bar1 {
        padding: 0;
        margin: auto;
    }

    .about .side-bar2 {
        margin: auto;
        margin-top: 50px;
    }

    .about .side-bar3 .card {
        width: 80%;
        margin-bottom: 5em;
    }

    .portfolio h3 {
        margin-top: 0;
    }

    .portfolio .text-content {
        width: 95%;
    }

    .portfolio-card .card  {
        padding: 0;
        margin-bottom: 70px;
        width: 100%;
        text-align: center;
    }

    .portfolio-card .card .img {
        margin: 0;
        padding: 0;
    }

    .certificate .text-content {
        width: 95%;
    }

    .certificate-card .card  {
        padding: 0;
        margin-bottom: 70px;
        width: 100%;
        text-align: center;
    }

    .certificate-card .card .img {
        margin: 0;
        padding: 0;
    }

    .contact h1 {
        margin: 20px 0;
    }

    .contact .links {
        margin: auto;
        width: 80%;
    }

    .contact img {
        filter:saturate(1);
        width: 45px;
        height: 45px;
    }

    .copyright .links {
        margin: 30px auto;
        width: 50%;
    }

    .copyright img {
        filter:saturate(1);
    }

    .footer .side-bar1,
    .footer .side-bar2,
    .footer .side-bar3 {
        margin: 30px 0;
    }

}

@media (max-width: 450px) {
    .portfolio-card .card .img {
        height: 200px;
        object-fit: cover;
        background-position: center;
        background-size: cover;
    }
}

@media (min-width: 768px) {
    .skill {
        display: flex;
    }

    .portfolio-card {
        display: flex;
    }

    .certificate-card {
        display: flex;
    }

    .about {
        display: flex;
        align-items: center;
    }

    .footer {
        display: flex;
    }
}